---
version: 2
interactions:
  - id: 0
    request:
      host: api.bitbucket.org
      url: https://api.bitbucket.org/2.0/user/workspaces?pagelen=25&page=1
      method: GET
      headers:
    response:
      status: 200 OK
      code: 200
      duration: 42ms
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body: |
        {
          "pagelen": 25,
          "size": 2,
          "page": 1,
          "values": [
            {
              "type": "workspace_access",
              "administrator": false,
              "workspace": {
                "type": "workspace_base",
                "uuid": "{aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa}",
                "slug": "demo-ws-one",
                "links": {
                  "avatar": {"href": "https://bitbucket.org/workspaces/demo-ws-one/avatar/"},
                  "self":   {"href": "https://api.bitbucket.org/2.0/workspaces/demo-ws-one"}
                }
              }
            },
            {
              "type": "workspace_access",
              "administrator": true,
              "workspace": {
                "type": "workspace_base",
                "uuid": "{bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb}",
                "slug": "demo-ws-two",
                "links": {
                  "avatar": {"href": "https://bitbucket.org/workspaces/demo-ws-two/avatar/"},
                  "self":   {"href": "https://api.bitbucket.org/2.0/workspaces/demo-ws-two"}
                }
              }
            }
          ]
        }
