---
version: 2
interactions:
    - id: 0
      request:
          host: api.bitbucket.org
          url: https://api.bitbucket.org/2.0/repositories/demo-ws/demo-repo/pullrequests/1/comments?pagelen=50&page=1
          method: GET
          headers:
      response:
          status: 200 OK
          code: 200
          duration: 10ms
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          body: |
              {
                "pagelen": 1,
                "size": 2,
                "page": 1,
                "next": "https://api.bitbucket.org/2.0/repositories/demo-ws/demo-repo/pullrequests/1/comments?pagelen=50&page=2",
                "values": [
                  {
                    "id": 2001,
                    "content": {"raw": "page one comment"},
                    "user": {"display_name": "Zach Snell", "type": "user", "links": {}},
                    "created_on": "2026-03-05T09:00:00.000000+00:00",
                    "updated_on": "2026-03-05T09:00:00.000000+00:00",
                    "inline": null,
                    "parent": null,
                    "deleted": false,
                    "pending": false,
                    "type": "pullrequest_comment",
                    "links": {}
                  }
                ]
              }
[...]
